x-app-base: &app-base
  image: "${DOCKER_IMAGE_BACKEND}:${TAG-latest}"
  env_file:
    - .env
  networks:
    - app-network
  restart: unless-stopped
  environment: &common-env
    POSTGRES_SERVER: db
    POSTGRES_PORT: ${POSTGRES_PORT}
    POSTGRES_DB: ${POSTGRES_DB}
    POSTGRES_USER: ${POSTGRES_USER}
    POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    CELERY_BROKER_URL: amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@rabbitmq:5672/${RABBITMQ_VHOST}

services:
  db:
    image: postgres:17
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    volumes:
      - app-db-data:/var/lib/postgresql/data/pgdata
    env_file:
      - .env
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
    networks:
      - app-network

  backend:
    <<: *app-base
    build:
      context: ./backend
    restart: on-failure
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
        restart: true
    environment:
      <<: *common-env
      DOMAIN: ${DOMAIN}
      FRONTEND_HOST: ${FRONTEND_HOST}
      BACKEND_CORS_ORIGINS: ${BACKEND_CORS_ORIGINS}

  rabbitmq:
    image: rabbitmq:4.2
    hostname: "rabbitmq"
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq/
    env_file:
      - .env
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASS}
      - RABBITMQ_DEFAULT_VHOST=${RABBITMQ_VHOST}
    networks:
      - app-network
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    
  celery:
    <<: *app-base
    entrypoint: []
    command: celery -A data.tasks worker -l info
    depends_on:
      rabbitmq:
        condition: service_healthy
        restart: true
      backend:
        condition: service_started
    restart: unless-stopped

  celery-beat:
    <<: *app-base
    entrypoint: []
    command: celery -A data.tasks beat -l info
    depends_on:
      rabbitmq:
        condition: service_healthy
        restart: true
      backend:
        condition: service_started

  nginx:
    image: "${DOCKER_IMAGE_FRONTEND}:${TAG-latest}"
    build:
      context: ./frontend
      target: production 
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
      - db
    networks:
      - app-network
  
  # certbot:
  #   image: certbot/certbot
  #   volumes:
  #     - ./nginx/certbot/conf:/etc/letsencrypt
  #     - ./nginx/certbot/www:/var/www/certbot
  #   entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"  # Renew certificates every 12 hours

networks:
  app-network:
    driver: bridge
    
volumes:
  app-db-data:
  rabbitmq-data:
  frontend-dist: