global:
  scrape_interval: 5m
scrape_configs:
 - job_name: prometheus
   static_configs:
    - targets:
       - prometheus:9090
       
 - job_name: node
   static_configs:
    - targets:
       - node-exporter:9100

 - job_name: 'backend'
   scrape_interval: 15s
   metrics_path: '/metrics/'
   static_configs:
    - targets: ['backend:8000']