- name: Install ufw
  ansible.builtin.apt:
    name: ufw
    state: present
    update_cache: yes
  become: true

- name: UFW - Set default policy to deny
  community.general.ufw:
    default: deny
  become: true

- name: Allow SSH connections (Critical to prevent lockout)
  community.general.ufw:
    rule: allow
    name: OpenSSH
  become: true

- name: Allow HTTP connections
  community.general.ufw:
    rule: allow
    port: "80"
    proto: tcp
  become: true

- name: Allow port 81 for NPM
  community.general.ufw:
    rule: allow
    port: "81"
    proto: tcp
  become: true

- name: Allow HTTPS connections
  community.general.ufw:
    rule: allow
    port: "443"
    proto: tcp
  become: true

- name: Allow port 8000 for backend service
  community.general.ufw:
    rule: allow
    port: "8000"
    proto: tcp
  become: true

- name: Allow port 9090 for Prometheus service
  community.general.ufw:
    rule: allow
    port: "9090"
    proto: tcp
  become: true

- name: Allow port 9100 for Node Exporter service
  community.general.ufw:
    rule: allow
    port: "9100"
    proto: tcp
  become: true

- name: Allow port 3000 for Grafana service
  community.general.ufw:
    rule: allow
    port: "3000"
    proto: tcp
  become: true

- name: Allow port 6379 for Redis service
  community.general.ufw:
    rule: allow
    port: "6379"
    proto: tcp
  become: true

- name: UFW - Enable the firewall service
  community.general.ufw:
    state: enabled
  become: true

- name: UFW - Reload firewall
  ansible.builtin.command: ufw reload
  changed_when: true
  become: true