- name: Install Nginx
  ansible.builtin.apt:
    name: nginx
    state: present

- name: Install Certbot
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  with_items:
      - certbot
      - python3-certbot-nginx