- name: Install Docker packages 1/2
  become: true
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  with_items:
    - apt-transport-https
    - ca-certificates
    - curl
    - python3-pip
  tags:
    - docker

- name: Add Dockers official GPG key
  become: true
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/ubuntu/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: '0755'
  tags:
    - docker

- name: Add Docker APT repository
  become: true
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    state: present
  tags:
    - docker

- name: Install Docker packages 2/2
  become: true
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  with_items:
    - docker-ce
    - docker-ce-cli
    - containerd.io
    - docker-buildx-plugin
    - docker-compose-plugin
  tags:
    - docker

- name: Create {{ directory_name }} directory
  become: true
  ansible.builtin.file:
    path: /home/ubuntu/{{ directory_name }}
    state: directory
    owner: ubuntu
    mode: '0755'

- name: Copy docker-compose.yml to remote host
  become: true
  copy:
    src: "../../../docker-compose.yml"
    dest: "/home/ubuntu/{{ directory_name }}/docker-compose.yml"
    mode: '0644'

- name: Copy prometheus config to remote host
  become: true
  copy:
    src: "../../../monitoring/prometheus.yml"
    dest: "/home/ubuntu/{{ directory_name }}/monitoring/prometheus.yml"
    mode: '0644'

- name: Check if .env.production exists on VPS
  stat:
    path: "/home/ubuntu/{{ directory_name }}/.env.production"
  register: vps_env_file

- name: Stop if file is missing
  fail:
    msg: "The .env.production file is missing from the VPS. Please upload it manually once."
  when: not vps_env_file.stat.exists

- name: Apply permissions if it exists
  file:
    path: "/home/ubuntu/{{ directory_name }}/.env.production"
    mode: '0644'
    state: file
  when: vps_env_file.stat.exists

- name: Start the compose stack (create & start) with custom environment file
  become: true
  community.docker.docker_compose_v2:
    project_src: "/home/ubuntu/{{ directory_name }}"
    state: present
    build: "never"
    pull: "always"
    env_files:
      - .env.production
  # Pass variables here so the 'docker compose' command sees them
  environment:
    TAG: "{{ app_tag | default('latest') }}"
    DOCKER_IMAGE_BACKEND_PROD: "jasmar2/fastapi-app"
    DOCKER_IMAGE_FRONTEND_PROD: "jasmar2/react-app"
  register: compose_result