- name: Install Docker packages 1/2
  become: true
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  with_items:
    - apt-transport-https
    - ca-certificates
    - curl
    - python3-pip
  tags:
    - docker

- name: Add Dockers official GPG key
  become: true
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/ubuntu/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: '0755'
  tags:
    - docker

- name: Add Docker APT repository
  become: true
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    state: present
  tags:
    - docker

- name: Install Docker packages 2/2
  become: true
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  with_items:
    - docker-ce
    - docker-ce-cli
    - containerd.io
    - docker-buildx-plugin
    - docker-compose-plugin
  tags:
    - docker

- name: Create project directories
  become: true
  ansible.builtin.file:
    path: "/home/ubuntu/{{ item }}"
    state: directory
    owner: ubuntu
    group: ubuntu
    mode: '0755'
  with_items:
    - "{{ directory_name }}"
    - "{{ directory_name }}/monitoring"
    - "{{ directory_name }}/datasets"
    - "{{ directory_name }}/monitoring/dashboards"
    - "{{ directory_name }}/monitoring/config"

- name: Copy deployment and env files
  become: true
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "/home/ubuntu/{{ directory_name }}/{{ item.dest }}"
    mode: '0644'
  with_items:
    - { src: "../../../docker-compose.yml", dest: "docker-compose.yml" }
    - { src: "../../../monitoring/prometheus.yml", dest: "monitoring/prometheus.yml" }
    - { src: "../../../monitoring/dashboards/dashboard.json", dest: "monitoring/dashboards/dashboard.json"}
    - { src: "../../../monitoring/config/datasources.yml", dest: "monitoring/config/datasources.yml"}
    - { src: "../../../monitoring/config/dashboard.yml", dest: "monitoring/config/dashboard.yml"}

- name: Update only the TAG variable in .env.production
  become: true
  ansible.builtin.lineinfile:
    path: "/home/ubuntu/{{ directory_name }}/.env.production"
    regexp: '^TAG='
    line: "TAG={{ app_tag }}"
    create: yes
    mode: '0644'

- name: Deploy Stack using Docker Compose
  become: true
  community.docker.docker_compose_v2:
    project_src: "/home/ubuntu/{{ directory_name }}"
    state: present
    env_files:
      - .env.production

- name: Deploy Stack using Docker Compose
  become: true
  community.docker.docker_compose_v2:
    project_src: "/home/ubuntu/{{ directory_name }}"
    state: present
    build: "never"
    pull: "always"
    env_files:
      - .env.production
  environment:
    TAG: "{{ app_tag | default('latest') }}"
    DOCKER_IMAGE_BACKEND_PROD: "jasmar2/fastapi-app"
    DOCKER_IMAGE_FRONTEND_PROD: "jasmar2/react-app"
  register: compose_result

- name: Prune unused Docker objects
  become: true
  ansible.builtin.shell: docker system prune -a -f